* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.containers {
  padding: 2%;
}

.missionList {
  border: 1px solid grey;
  padding: 0.7rem;
  width: 100%;
}

